<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Maintenance App | Home</title>
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:8000">Home</a>
        <a href="http://127.0.0.1:8000/sign_in/">Sign In</a>
        <a href="http://127.0.0.1:8000/sign_up/">Sign Up</a>
    </nav>
    <h1>Welcome</h1>
    <hr>
    <div>This is a webapp that allows for the storage of information about the maintenance of
        your car. I am planning to implement a database so the functionality is currently
        extremely minimal
    </div>
</body>
</html>